{% extends 'base.html' %}

{% block head %}
<title>Task Master - Status</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center;">Task Master - Status</h1>
    <table>
        <tr>
            <th>Tasks</th>
            <th>In Progress</th>
            <th>Done</th>
        </tr>
        {% for task in tasks %}
            <tr>
                {% if task.status == '' %}
                    <td>{{ task.content }}</td>
                    <td></td>
                    <td></td>
                {% elif task.status == 'In Progress' %}
                    <td></td>
                    <td>{{ task.content }}</td>
                    <td></td>
                {% elif task.status == 'Done' %}
                    <td></td>
                    <td></td>
                    <td>{{ task.content }}</td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}